@media (max-width: 730px){
  .ave-title{
    letter-spacing: 60px;
  }
}

@media (max-width: 490px){
  .ave-title{
    letter-spacing: 10px;
    margin: 0;
  }
}

@media (max-width: 390px){
  .ave-title{
    letter-spacing: 0;
    font-size: 10rem;
  }
}