@media (max-width: 1210px){
  .row{
    width: 100%;
  }
}

@media (max-width: 800px){
  .nav-goods{
    display: none;
  }
  .btns-filter{
    display: block;
  }
}

@media (max-width: 780px){
 .element-item{
   margin-left: 10%;
 }
}