$brand-color-1: #333;
$brand-color-2: #00c8c8;

$card-title-color: #575153;
$light-text: #fff;
$dark-text: #333;
$top-header-color: #999;
$top-footer-bg: #f8f8f8;

$content-width: 1210px;
$masonry-width: 1170px;
$header-font: "Myriad";
$brand-font: "Montserrat", sans-serif;


$header-link-size: .8125rem;
$header-btn-size: .8125rem;
$nav-size: .8125rem;
$sale-nav-size: 1.8rem;
$footer-link-size: .875rem;
$footer-text: .875rem;


